In [1]:
import sqlite3
import pandas as pd
import os

In [2]:
db_path = os.path.join('Datasets', 'chinook.db')
conn = sqlite3.connect(db_path)

In [5]:
query = '''
    SELECT BillingCountry, SUM(Total)
      FROM Invoices
      GROUP BY BillingCountry
'''
df = pd.read_sql(query, conn)

In [7]:
df.head()

  BillingCountry  SUM(Total)
0      Argentina       37.62
1      Australia       37.62
2        Austria       42.62
3        Belgium       37.62
4         Brazil      190.10