## SQLite3 Query to DataFrame

In [2]:
!!pip3 install pandas

import sqlite3
import pandas as pd
import os

Get path to our SQLite database, and establish a connection

In [3]:
db_path = os.path.join('Datasets', 'chinook.db')
conn = sqlite3.connect(db_path)

Build a SQL query, then use pandas' `read_sql` method to convert it into a DataFrame.

In [4]:
query = '''
    SELECT BillingCountry, SUM(Total)
      FROM Invoices
      GROUP BY BillingCountry
'''
df = pd.read_sql(query, conn)

In [6]:
df.head()

  BillingCountry  SUM(Total)
0      Argentina       37.62
1      Australia       37.62
2        Austria       42.62
3        Belgium       37.62
4         Brazil      190.10

Note the output of `DataFrame.head()`, the first five rows of the DataFrame are displayed.